<p>assignments works!</p>
<p>Titre = {{ titre }}</p>

<table>
    <tbody>
        @for (assignment of assignments; track assignment.nom) {
            <tr>
                <td [ngClass] = "{'rendu': assignment.estRendu, 'nonRendu':!assignment.estRendu }">
                    {{ assignment.nom }}
                </td>
                <td>{{ assignment.dateRendu }}</td>
                
                <td appRendu [ngStyle] = "{'background-color': assignment.estRendu ? 'green' :'red' }">
                    @if (assignment.estRendu) {
                        DEVOIR RENDU
                    }
                    @else {
                        DEVOIR NON RENDU
                    }
                </td>
                
            </tr>
        }
    </tbody>
</table>
